<nav>
  <div class="navbar-left">
    <img
      src="https://cdn.dribbble.com/users/409459/screenshots/3968040/pporg-anim.gif"
      alt="logo"
      class="logo"
    />
  </div>

  <div class="navbar-right">
    <ul>

      <li>
        <a routerLink="/assignments/home">Home</a>
      </li>

      <li>
        <a routerLink="/assignments/teachers">Teachers</a>
      </li>

      <li>
        <a routerLink="/assignments/students">Students</a>
      </li>

      <li>
        <a routerLink="/assignments/courses">Courses</a>
      </li>

      <li>
        <a routerLink="/assignments/assignments">Assignments</a>
      </li>

      <li class="navbar-email">widmarito@gmail.com</li>
      <li class="navbar-shopping-cart">
        <a href="">
          <img
            src="https://pm1.narvii.com/6344/f9df20038a8b7214dd3aef706be2d81936951fcd_00.jpg"
            alt="shopping cart"
          />
        </a>
        <div>{{ pokemonListLength }}</div>
      </li>
    </ul>
  </div>
</nav>
