<nav>
  <div class="navbar-left">
    <img
      src="https://i.pinimg.com/564x/f0/dd/ec/f0ddec76cda8ee2756e663924856f81e.jpg"
      alt="logo"
      class="logo"
    />
  </div>

  <div class="navbar-right">
    <ul>

      <li>
        <a routerLink="/assignments/home">Home</a>
      </li>

      <li>
        <a routerLink="/assignments/teachers">Teachers</a>
      </li>

      <li>
        <a routerLink="/assignments/students">Students</a>
      </li>

      <li>
        <a routerLink="/assignments/courses">Courses</a>
      </li>

      <li>
        <a routerLink="/assignments/assignments">Assignments</a>
      </li>

      <li class="navbar-email">usuario@gmail.com</li>
      <li class="navbar-shopping-cart">
        <a href="">
          <img
            src="https://i.pinimg.com/564x/8b/16/7a/8b167af653c2399dd93b952a48740620.jpg"
          />
        </a>
      </li>
    </ul>
  </div>
</nav>
