<div class="dialog-container">
  <div class="header-dialog">
    <h2 mat-dialog-title>
      Capture a
      {{ currentPokemon.name ? currentPokemon.name : "sin pokemon" }} !!
    </h2>
    <img
      id="pokeball"
      (click)="addFavoritePokemon(currentPokemon)"
      width="50"
      src="https://ph-files.imgix.net/2e52ec5b-0e53-4f6e-af4d-85651439e832.png?auto=format"
      alt="pokeball_img"
    />
  </div>
  <div class="body-dialog">
    <figure>
      <img
        width="300"
        [src]="currentPokemon.sprites.front_default"
        alt="bike"
      />
    </figure>
    <div class="skills-container">
      <div class="skills">
        <h3>Skills</h3>
        <ul>
          <li *ngFor="let skill of currentPokemon.abilities">
            {{ skill.ability.name }}
          </li>
        </ul>
      </div>
      <div class="stats">
        <h3>Stats</h3>
        <ul>
          <li *ngFor="let stat of currentPokemon.stats">
            {{ stat.stat.name }}: {{ stat.base_stat }}
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>
